header {
    z-index: 999;
    position: relative;
    display: flex;
    margin: 0;
    height: 50px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 5px 1px rgba(214, 214, 214, 1);
    margin-bottom: 5px;
    justify-content: space-between;
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    height: 100%;
}

.brand-logo {
    max-width: 100px;
}

.header-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    cursor: pointer;
}

.header-profile:hover>.dropdown-user {
    display: block;
    animation: fadeIn .3s;
}

.header-profile:hover>.notch {
    display: block;
    animation: fadeIn .3s;
}

.header-profile:hover>.overlay-background {
    display: block;
}

.dropdown-user {
    display: none;
    background: #ffffff;
    bottom: -73px;
    padding: 0px;
    border-radius: 3px;
    margin: 0;
    right: 5px;
    position: absolute;
    list-style: none;
}

.notch {
    display: none;
    z-index: 0;
    bottom: -24px;
    position: absolute;
    transform: rotateZ(45deg);
    background-color: #fff;
    width: 20px;
    height: 20px;
}

.overlay-background {
    display: none;
    z-index: 0;
    bottom: -20px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
}

.dropdown-user>li {
    font-size: 16px;
    transition: all .5s;
    color: #5d5d5d;
    padding: 5px 30px;
    cursor: default;
}

.dropdown-user>li:hover {
    color: #20cdff;
}

/* animation for drop down */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animation end */

.loginBtn {
    padding: 5px;
    text-decoration: none;
}

.aside-header {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button.ask-question, .btn-blue-white {
    all: unset;
    color: #fff;
    background-color: #20cdff;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgb(119, 119, 119);
    cursor: pointer;
}