header {
    position: relative;
    display: flex;
    margin: 0;
    height: 50px;
    width: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(214, 214, 214, 1);
    box-shadow: 0px 2px 5px 1px rgba(214, 214, 214, 1);
    margin-bottom: 5px;
    justify-content: space-between;
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    height: 100%;
}

.brand-logo {
    max-width: 100px;
}

.header-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile:hover>.dropdown-user {
    display: block;
}

.dropdown-user {
    display: none;
    background: #20cdff;
    bottom: -62px;
    padding: 0px;
    margin: 0;
    right: 0;
    position: absolute;
    list-style: none;
}

.dropdown-user>li {
    padding: 5px;
}

.loginBtn {
    padding: 5px;
    text-decoration: none;
}