.wiiti {
    display: inline-block;
    background-color: #ffffff;
    padding: .5%;
    margin: .5%;
    height: auto;
    width: 23%;
    border-radius: 5px;
}

.query-image {
    width: 96%;
    padding: 1% 2%;
    height: 250px;
}

.subtitle {
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
}

.wiiti-link {
    text-decoration: none;
    color: #5d5d5d;
}